body {
  font-family: sans-serif;
}
.header-nav {
  background-color: #e4f7ff;
}
.nav-item a {
  color: black;
}
.nav-item a:hover {
  color: #dc3545;
}
.thrd-sec {
  background-image: url('https://www.practice-web.com/sliders/banner1-1587908453.jpg');
  object-fit: contain;
}
